{% extends 'base.html.twig' %}

{% block title %}Actualizar Equipos!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   
   <form class="form-horizontal" id="formRegJugador" name="formRegJugador" action="{{ path('jugador_update', { id: jugador.id } ) }}" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col-12 col-md-6 mb-3">
                <label ><b>Jugador</b></label>
                <input class="form-control " type="text" id="nombre" name="nombre" value="{{ jugador.nombre }}" placeholder="Ingrese Nombre" maxlength="100" />
            </div>
             <div class="col-12 col-md-6 mb-3">
                <label ><b>Equipo</b></label>
                <select class=" form-control" id="equipo_id" name="equipo_id" >
                <option value="" selected >Seleccione</option>
                    {% for equipo  in equipos %}
                        {% set selected = '' %}
                        {% if jugador.equipoId == equipo.id %}
                        {% set selected = 'selected="selected"' %}
                        {% endif%}
                        <option value="{{ equipo.id }}" {{ selected }}>{{ equipo.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-6 mb-3">
                <label ><b>Posición</b></label>
                <select class=" form-control" id="posicion_id" name="posicion_id" >
                <option value="" selected >Seleccione</option>
                    {% for posicion  in posiciones %}
                        {% set selected = '' %}
                        {% if jugador.posicionId == posicion.id %}
                        {% set selected = 'selected="selected"' %}
                        {% endif%}
                        <option value="{{ posicion.id }}" {{ selected }}>{{ posicion.nombre }}</option>
                    {% endfor %}
                </select>
                
            </div>
             <div class="col-12 col-md-6 mb-3">
                <label ><b>Precio</b></label>
                <input class="form-control " type="text" id="precio"  value="{{ jugador.precio }}" name="precio" placeholder="Ingrese Precio" maxlength="15" />
            </div>
        </div>
        <div class="form-group text-center" style="padding-top: 20px">
            <button class="btn btn-secondary" type="submit">Guardar</button>
        </div>
    </form>
    
</div>
{% endblock %}
